#img{
    width: 17em;
}
#bg1{
    background-color: rgb(236, 246, 54);
}
.fontStyle img, svg {
    vertical-align: middle;
    width: 6em;
}
@media (max-width:600px) {
    #bg1{
        display: none;
    }
    #img{
        width: 14em;
    }
}